<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body ng-app="pokedex">

	<div class="container">
		<h1>Pokédex</h1>

		
		<!-- pickerController-->
		
		
		<!-- Search -->
		<div class="form-group" ng-controller="pickerController">
		
		
		ID<input class="form-control" type="text" name="pokemonID" min="0" ng-model="pokemon.id" /><br />
		
		Nom<input  class="form-control"type="text"  name="pokemon.name" ng-model="pokemon.name"><br />
		
		
		
		Pokemon    <select ng-repeat="pokemon.list" name="pokemon.list" class="selectpicker form-control">
				
					<option value="{{pokemon.list}}">{{pokemon.list}}</option>
					
					</select>
										
										<br />
		
		
		
		<input type="button" class="btn btn-primary" value="GET" />
		</div>

		<!-- Pokémon information -->
		<div></div>

	</div>

    <!-- Dependencies -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>

    <!-- Pokedex app -->
    <script src="js/pokedex.js"></script>


</body>
</html>
