<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        
    </head>
    <body ng-app="pokedex">
        
        <div class="container">
            <h1>Pokédex</h1>
            
            <!-- Search -->
            <div class="form-group" ng-controller="pickerController">
                
                
                ID
                <input class="form-control" type="text" name="pokemonID" min="0" ng-model="id" /><br />
                
                Nom
                <input  class="form-control" type="text"  name="pokemonName" ng-model="name" ><br />
                
                Pokemon
                <select  name="pokemonList" class="selectpicker form-control" ng-model="pokemonPicker">
                    <option value="Pokémons" ng-repeat="pokemon in list |filter:id|filter:name"> {{pokemon.name}} </option>
                </select>
                
                <br />
                
                <input type="button" class="btn btn-primary" value="Go!" />
            </div>
            </div>
            
            <!-- Pokémon information -->
            <div>

            </div>
            
        </div>
        
        <!-- Dependencies -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        
        <!-- Pokedex app -->
        <script src="js/pokedex.js"></script>
        
        
    </body>
</html>
